data/
jobs/
cleaned_results/
old_code/
*.csv
in_a_previous_life/
csc_oracle.py
csc_first.py
job_manager_fixed_compas_study.log
monitor_jobs.sh
*.parquet
*.pkl
constraint_visualizations/
fairness_analysis_results_1
my_eyes_only/
classification_result/
classification_results/
stupid_code/
